@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalcModels

<h2>Grade Calculator: (Dun Dun DUNNNNNNN)</h2>
<form method="post">
    <label>Assignments: </label>
    <input type="number" id="assign" min="0" max="100" asp-for="Assign"/>
    <br /><br />
    <label>Group Project: </label>
    <input type="number" id="group" min="0" max="100" asp-for="Group" />
    <br /><br />
    <label>Quizzes: </label>
    <input type="number" id="quiz" min="0" max="100" asp-for="Quiz"/>
    <br /><br />
    <label>Exams: </label>
    <input type="number" id="exam" min="0" max="100" asp-for="Exam"/>
    <br /><br />
    <label>Intex: </label>
    <input type="number" id="intex" min="0" max="100" asp-for="Intex"/>
    <br /><br />
    <input id="btnSend" type="submit" value="Calculate Grade" />

    <div asp-validation-summary="All"></div>
</form>

<script src="js/gradeCalc.js"></script>