@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mckaylee or Kaylee";
}


<h1>Page all about Me (Mckaylee Olson)</h1>
<br /><br /><br />
<p>I LOVE to Travel! This past summer my family and I went to Alaska! We did a lot of things and Halibut fishing was my favorite!</p>
<br />
<img width="600" src="img/familyWithHalibut.jpg" />
<br /><br /><br /><br />
<h2>What I hope to get out of IS 413:</h2>
<br />
<p>
    I hope to gain an decent understanding of ASP.Net and master the basics of this language. My Goal in this class is to
    stay on top of the schedule. By doing this, it will allow me to gain the necessary skills to excell in this course. Along with the
    technical part of the course, I also hope to gain more group work skills and bond with my team. This seems like a very fast paced
    course and I am excited to dive right in!
</p>
<br /><br />

<h2>Top 3 Jobs I am interested in persuing after school:</h2>
<ul>
    <li>#1: Data Analyst </li>
    <li>#2: Data Scientist </li>
    <li>#3: Web Developer </li>
</ul>



